*
{
    margin: 0px;
    padding: 0px;
}
.grid-1
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.items
{
    width: 520px;
    height: 380px;
   
    margin-top: 30px;
    margin-left: 40px;
}
.items img
{
    width:330px;
    height: 280px;
    object-fit: cover;
    padding-left: 30px;
    padding-top: 30px;
    
}
h1
{
    text-align: center;
    
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.items p
{
    text-align: justify;
    line-height: 24px;
    padding-top: 20px;
}

.items h3
{
    color: maroon;
    font-size: 30px;
}
.events img
{
    width: 260px;
    height: 300px;
    object-fit: cover;
    padding: 15px;
    border-radius: 15%;
    cursor: pointer;
}
#gautam
{
    display: none;
}
#azim
{
    display: none;
}
#narayana
{
    display: none;
}